.listContainer {
    width: 100%;
    height: 100%;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    max-width: 640px;
    max-height: 480px;
}

.link {
    max-width: 640px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
